# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
env/

# PyCharm / JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Bases de données locales
*.db
*.sqlite

# Autres fichiers sensibles/temp
*.bak
*.tmp
